@use '../variables' as *;

.modal-body:has(.document-preview-container) {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.document-preview-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.document-preview-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  gap: $spacing-md;

  p {
    color: $color-text-secondary;
  }
}

.document-preview-content {
  flex: 1;
  min-height: 0;
}

.document-preview-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.document-preview-image {
  width: 100%;
  object-fit: contain;
  border-radius: $border-radius-md;
}

.document-preview-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  gap: $spacing-lg;
  text-align: center;

  p {
    color: $color-text-secondary;
    font-size: $font-size-lg;
  }
}

.doc-na-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: $spacing-xl;
  text-align: center;

  p {
    color: $color-text-secondary;
    font-size: $font-size-lg;

    strong {
      color: $color-text-dark;
    }
  }
}

.modal-footer-actions {
  display: flex;
  gap: $spacing-md;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  .btn {

    &.btn-delete {
      margin-right: auto;
    }
  }
}

@media (max-width: 768px) {
  .modal-footer-actions {
    width: 100%;
    flex-direction: column;

    .btn {
      width: 100%;
      margin: auto;

      &.btn-delete {
        margin-right: 0;
      }
    }
  }
}
