// Breakpoint Variables
$breakpoint-sm: 480px;   // Mobile
$breakpoint-md: 750px;   // Tablet
$breakpoint-lg: 1000px;   // Desktop

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  }
  @if $breakpoint == md {
    @media (min-width: $breakpoint-md) { @content; }
  }
  @if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

@mixin respond-below($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: ($breakpoint-sm - 1px)) { @content; }
  }
  @if $breakpoint == md {
    @media (max-width: ($breakpoint-md - 1px)) { @content; }
  }
  @if $breakpoint == lg {
    @media (max-width: ($breakpoint-lg - 1px)) { @content; }
  }
}


@mixin respond-between($min-breakpoint, $max-breakpoint) {
  $min: 0;
  $max: 0;
  
  @if $min-breakpoint == sm { $min: $breakpoint-sm; }
  @if $min-breakpoint == md { $min: $breakpoint-md; }
  @if $min-breakpoint == lg { $min: $breakpoint-lg; }
  
  @if $max-breakpoint == sm { $max: ($breakpoint-sm - 1px); }
  @if $max-breakpoint == md { $max: ($breakpoint-md - 1px); }
  @if $max-breakpoint == lg { $max: ($breakpoint-lg - 1px); }
  
  @media (min-width: $min) and (max-width: $max) { @content; }
}
